
.MuiCardHeader-root	{
    background-color: #12c9a8;
}

/* .MuiCardHeader-subtitle {
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
} */

.title {
    text-align: center;
    font-size: 40px;
    font-weight:bolder;
    font-family: 'Poppins';
}

.desc {
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins';
}

body {
    background-color: #f2f2f2;
}
